.googleLogin {
    border: 1px solid #007BFF;
    border-radius: 15px;
    padding: 5px 0;
    cursor: pointer;
    margin: auto 25%;
  }
  .googleLogin img {
    width: 5%;
  }
  @media only screen and (max-width: 600px) {
    .form {
      margin: 5% 15%;
    }
    .googleLogin img {
      width: 10%;
    }
  }